<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/64a7d9e7-43af-42a8-a75d-45df5fd73fb2/resourcegroups/plantparenthoodrg/providers/Microsoft.Web/sites/PlantParenthood</ResourceId>
    <ResourceGroup>plantparenthoodrg</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://plantparenthood.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>plantparenthood.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>PlantParenthood</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$PlantParenthood</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="PlantParenthoodContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:plantparenthoodserver.database.windows.net,1433;Initial Catalog=plantparenthood;Persist Security Info=True;User ID=plantparenthood;Password=Johnpark1;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="PlantParenthood.Models.PlantParenthoodContext, PlantParenthood" MigrationConfiguration="PlantParenthood.Migrations.Configuration, PlantParenthood" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="PlantParenthoodContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:plantparenthoodserver.database.windows.net,1433;Initial Catalog=plantparenthood;Persist Security Info=True;User ID=plantparenthood;Password=Johnpark1;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="PlantParenthoodContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:johnparktest.database.windows.net,1433;Initial Catalog=PlantParenthooddb;User ID=johnparktest@johnparktest;Password=Johnjohn1</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>